nav li {
    display: inline;
    margin-right: 50px;
}

section h1 {
    color: #f72a2a;
}



header h1 {
    background-color: #2f5d50;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
}

body {
    background-color: #e9dbc2;
}

img {
    width: 120px;
    height: 100px;

}