nav li {
    display: inline;
    margin-right: 50px;
}

section h1 {
    color: #f72a2a;
}



header h1 {
    background-color: #15ecf4;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
    display
}



body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #ffffff;
}